################################### INPUT SHAPER #####################################
# Manually via ssh to obtain the images (PNG) of the resonances for each axe (X/Y).
# Read more about measuring resonances, smoothing, offline processing of shaper data etc.
# https://www.klipper3d.org/Measuring_Resonances.html
#
# Input shaper auto-calibration (run tests then generate csv output)
# Don't forget SAVE_CONFIG to save and restart Klipper
# The value 'max_accel' won't be automatically modified, you have to do it in the [printer]
# section, according to the results of the auto-calibration.
# With 'bed-slinger' use the lowest max_accel of X/Y axis.
#

# Conditional homing
[gcode_macro  _HOME_CHECK]
description: Checks if the printer is homed, if not then homes the printer
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

[gcode_macro _CG28]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro LAZY_HOME]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro HOME_IF_NEEDED]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro CHECK_HOME]
gcode:
    _HOME_CHECK { rawparams }

# Shaping
[gcode_macro ADXL_TEST]
description: ADXL Test
gcode:
    ACCELEROMETER_QUERY

[gcode_macro ADXL_NOISE]
description: Measure Accelerometer Noise
gcode:
    MEASURE_AXES_NOISE

[gcode_macro ADXL_SHAPE_X]
description: test resonances in x direction for the hotend
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    _HOME_CHECK
    SHAPER_CALIBRATE AXIS=X
    RUN_SHELL_COMMAND CMD=adxl_x
    M118 Test done
    SAVE_CONFIG
  
[gcode_macro ADXL_SHAPE_Y]
description: test resonances in y direction for the heated bed
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    _HOME_CHECK
    SHAPER_CALIBRATE AXIS=Y
    RUN_SHELL_COMMAND CMD=adxl_y
    M118 Test done
    SAVE_CONFIG

[gcode_macro ADXL_SHAPE_ALL]
description: Test resonances for both axis
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
    LAZY_HOME
    SHAPER_CALIBRATE
    RUN_SHELL_COMMAND CMD=adxl_x
    RUN_SHELL_COMMAND CMD=adxl_y
    M118 Test done
   #SAVE_CONFIG

### name file: adxl_x.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o ~/klipper_config/calibrations/shaper_calibrate_x.png

### name file: adxl_y.sh
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o ~/klipper_config/calibrations/shaper_calibrate_y.png
